/* 
Author: Isaiah Earley
File Name: styles.css
Date: 09/24/2022
*/



/* CSS Presets */
* {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 23);
    color: rgb(250, 250, 250);
}
html {
    font-family: Fraunces, serif, sans-serif;
}
img {
    max-width: 100%; 
    display: block; 
}
header {
    max-width: 100%;
    text-align: center;
    margin: 25px 80px; 
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
    /* Mobile Adjustments */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#project1, #project2, #project3 {
    display: block;
    float: inherit; 
    padding: 4%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: 3% 10% 3% 10%;
}
.contact-img-mobile {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}
.contact-img-tablet-desktop { 
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}
.yellow-border p {
    background-color: rgba(237, 191, 79, .7);
    margin: 2% 10% 2% 10%;
    padding: 2%;
    border-radius: 30px;
}
.yellow-border p a {
    background-color: rgba(237, 191, 79, .7);
}
.yellow-border-footer p {
    background-color: rgb(237, 191, 79);
    margin: 0 4% 0 4%; 
}
.yellow-border-footer p a {
    background-color: rgb(237, 191, 79);
}
.guess {
    font-size: 1.2em;
    font-style: italic;
    background-color: rgba(237, 191, 79, .7);
}

/* Style rules for tablet viewport */ 
@media all and (min-width: 300px) and (max-width: 546px) {
/* Style Nav */
nav {
    padding: 0%;
    margin-bottom: 8%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li {
    border-top: 1px solid white;
}
nav li:first-child {
    border-top: none;
}
nav li a { 
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 7em;
    color: rgba(250, 250, 250, .45);
}
nav li a:hover {
   color: white;
}

/* Show mobile class, hide tablet-desktop class*/
.mobile {
    display: block;
}
.tablet-desktop {
    display: none;
}

/* Style Main */
main {
    padding: 2%;
    text-align: center;
}

/* Style Footer */
footer {
    text-align: center;
}

/* Style Attributes class, id */
#persona { 
    display: inline-block;
    margin-bottom: 25px;
    text-align: center;
    height: 250px;
}
#persona img { 
    height: 250px;
}
#blog1, #blog2, #blog3 {
    margin: 1%; 
    padding: 5%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
#contact {
    display: block;
    margin-bottom: 2%;
}
#contact a {
    margin: 2%;
    font-size: 1.3em;
    padding: 1%;
    text-decoration: none;
    background-color: rgb(237, 191, 79);
    color:rgba(250, 250, 250, .90);
}
#contact a:hover {
    color: rgb(23, 23, 23);
}
#map {
    height: 50%;
    border: 2px solid rgb(237, 191, 79);
}
.corner {
    border-radius: 30px;
}

}

/* Style rules for tablet viewport */
@media all and (min-width: 547px) and (max-width: 1122px){
/* Style Nav */
nav {
    padding: 0%;
    margin-bottom: 8%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li {
    border-top: 1px solid white;
    display: inline-block;
}
nav li a { 
    text-decoration: none;
    padding: 0.5em 2.5em;
    color: rgba(250, 250, 250, .45);
}
nav li a:hover {
   color: white;
}

/* Show tablet-desktop, hide mobile class*/
.mobile {
    display: none;
}
.tablet-desktop {
    display: block;
}

/* Style Main */
main {
    padding: 2%;
    text-align: center;
}

/* Style Footer */
footer {
    text-align: center;
}

/* Style Attributes class, id */
#persona { 
    display: inline-block;
    margin-bottom: 25px;
    text-align: center;
    height: 250px;
}
#persona img { 
    height: 250px;
}
#blog1, #blog2, #blog3 {
    margin: 1%; 
    padding: 5%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
#project1, #project2, #project3 {
    display: inline-block;
    float: inherit; 
    padding: 12%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: 1%;
}
.tel-link {
    background-color: rgb(237, 191, 79);
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    width: 25%;
    text-align: center;
    border-radius: 30px;
}
.tel-link a {
    color: rgb(237, 191, 79);
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}
#contact {
    display: block;
    margin-bottom: 2%;
}
#contact a {
    margin: 2%;
    font-size: 1.3em;
    padding: 1%;
    text-decoration: none;
    background-color: rgb(237, 191, 79);
    color:rgba(250, 250, 250, .90);
}
#contact a:hover {
    color: rgb(23, 23, 23);
}
#map {
    height: 50%;
    border: 2px solid rgb(237, 191, 79);
}
.corner {
    border-radius: 30px;
}    

}
/*Media Screen for desktop viewport*/
@media screen and (min-width: 1123px) {
/* Style Nav */
nav {
    padding: 0%;
    margin-bottom: 8%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li {
    border-top: 1px solid white;
    display: inline-block;
}
nav li a { 
    text-decoration: none;
    padding: 0.5em 7em;
    color: rgba(250, 250, 250, .45);
}
nav li a:hover {
   color: white;
}

/* Show tablet-desktop, hide mobile class*/
.mobile {
    display: none;
}
.tablet-desktop {
    display: block;
}

/* Style Main */
main {
    padding: 2%;
    text-align: center;
}

/* Style Footer */
footer {
    text-align: center;
}

/* Style Attributes class, id */
#persona { 
    display: inline-block;
    margin-bottom: 25px;
    text-align: center;
    height: 250px;
}
#persona img { 
    height: 250px;
}
#blog1, #blog2, #blog3 {
    margin: 1%; 
    padding: 5%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
#project1, #project2, #project3 {
    display: inline-block;
    float: inherit; 
    padding: 2%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: 1%;
}
.tel-link {
    background-color: rgb(237, 191, 79);
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    width: 25%;
    text-align: center;
    border-radius: 30px;
}
.tel-link a {
    color: rgb(237, 191, 79);
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}
#contact {
    display: block;
    margin-bottom: 2%;
}
#contact a {
    margin: 2%;
    font-size: 1.3em;
    padding: 1%;
    text-decoration: none;
    background-color: rgb(237, 191, 79);
    color:rgba(250, 250, 250, .90);
}
#contact a:hover {
    color: rgb(23, 23, 23);
}
#map {
    height: 50%;
    border: 2px solid rgb(237, 191, 79);
}
.corner {
    border-radius: 30px;
}    

}